body {
    Roboto-sans-serif;
    background-color: #343A3F;
  }
  
  h1 {
    color: white;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin: 0;
    font-weight: bold;
  }
  
  ul {
    margin: 0 0 10px;
    padding: 0;
  }
  
  li {
    color:  white;
    font-size: 16px;
    font-weight: 100;
    height: 19px;
    line-height: 1;
    list-style: none;
    font-weight: bold;
  }
  
  .weather-icon {
    height: 64px;
    width: 64px;
    margin-right: 10px;
  }
  
  .temperature {
    color: white;
    font-size: 45px;
    font-weight: 400;
    line-height: 1;
  }
  
  .units {
    color: white;
    position: relative;
    top: -34px;
    font-weight: bold;
  }
  
  .search-form {
    margin-bottom: 20px;
  }
  
  .card-plan {
    border: 1px solid #dadde1;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 150px;
  }

  .text-white { 
    padding: 1px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
  }
  
  .card-img {
    padding: 1px;
    margin: auto;
    border-radius: 10px;
    max-width: 600px;
  }
  
  .card-body {
    color: #7c7c7c;
    font-size: 10px;
    font-weight: strong;
    padding: 5px;
    margin: 5px auto;
  }
  
  .btn-info {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    font-size: 11px;
    margin: 0px auto;
    border-radius: 10px;
    max-width: 110px;
  }
  
  .btn-primary {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
  
  }
  .btn-success {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
  }
  
  .btn-secondary {
    background-color: #7c7c7c;
    border-color: #7c7c7c;
  }

 .source-code {
   font-size: 11px;
   margin: 10px;
   padding: 0;
   position: relative;
 }

 .units {
  color: white;
 }